---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

// Static Paths query pulls all posts from /blog in Storyblok

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();

  const { data } = await storyblokApi.get("cdn/links?starts_with=blog/", {
    version: "draft",
  });
  let links = data.links;
  links = Object.values(links);

  return links.map((link) => {
    return {
      params: { slug: link.slug.split("/")[1] },
    };
  });
}

---

<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    
    <main>
      
    </main>
    
  </body>
</html>
