---
import { storyblokEditable } from '@storyblok/astro'
import { renderRichText } from '@storyblok/astro'


const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
    <Fragment set:html={blok.code} />
</div>
