---
import { renderRichText } from '@storyblok/astro'

const { blok } = Astro.props

const renderedRichText = renderRichText(blok.content)
---

{console.log("PARAGRAPH TEST")}
{console.log(blok)}

<div set:html={renderedRichText}></div>
