---
const today = new Date().getFullYear();
---

<footer>
	<p id="copyright">© <script>document.write(new Date().getFullYear())</script> Chris Landtiser</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
